extends layout

block content

  button#start(type="button", onclick="startRec(this);") Start
  button#stop(type="button", onclick="stopRec(this);", disabled) Stop

  h2 Recordings
  ul#recordingslist
